#loader{
    margin: 0;
    padding: 0;
    font-family: verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

#loader ul{
    margin: 0;
    padding: 0;
    display: flex;
}

#loader ul li{
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight:thin;
    letter-spacing: 10px;
   
    transition: 4s;
}

#loader ul li:hover,ul li:hover ~ li{
    transform: rotate(180deg) translateY(-200px);
    transition: 2s;
    filter:blur(20px);
    opacity: 0;
    cursor: pointer;

}
.carousel-item img {
	margin:10px;
}
.block4-wrap {
	display:flex;
}
.block4 {
	flex:1 0 2.5%;
	background:#000;
	color:#fff;
}
.my-captions{margin:10px;padding-bottom:3em}

/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
	.block4{max-width:280px;flex:1 0 100%;overflow:hidden}	
	.carousel{overflow:hidden;}
	.carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
	.block4{max-width:240px;}	
}

.b{
    background-color: #fee0d5;
    color: black;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 18px;

}
.a{
    background-color: #53afee;
    color: white;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 18px;
}

.aaa{
    background-color: white;
    border-radius: 25px;
    width: 50%;
    height: 150px;
    position:absolute;
    right: 26%;
    top:35%;
    align-items: center;
    margin-left: 275px;
    margin-top: -75px;
    overflow: visible;
	box-shadow: 0px 10px 5px grey;
}

@media screen and (max-width:480px; max-height:633.6px; ){
	.aaa{margin-left:35px;width:80%;height: 100px;margin-top: -50px;}	
}
.btn-warning{
    margin-top: 50px;
    margin-left: 1px;
    border-radius: 13px;
}

.btn{
    margin-left: 10px;
    float: left;
}
#result{
   position: absolute;
   top:25px;
   right: 95%;
}

@media screen and (max-width:480px){
    .navbar-nav{height: 40px;}
    .navbar-nav ul{display: inline;}
  
}

.navbar-brand {
    float: left;
    height: 50px;
    margin-left: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 20px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:15%;
}

.nav1{
    padding-left: 12%;
    padding-top: 15px;;
}
.heading{
    font-family: 'arial';
    font-size: 25px;
    padding-top: 5%;
    text-align: left;
    margin-left: 0;
    float: left;
    align-items: center;
}


.carousel-indicators {

    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    margin-top: 5px;
    text-align: center;
    list-style: none;

}
.flex-xl-nowwrap{
    margin-top:1px;
}