#loader{
    margin: 0;
    padding: 0;
    font-family: verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

#loader ul{
    margin: 0;
    padding: 0;
    display: flex;
}

#loader ul li{
    list-style: none;
    color: white;
    font-size: 20px;
    font-weight:thin;
    letter-spacing: 10px;
   
    transition: 4s;
}

#loader ul li:hover,ul li:hover ~ li{
    transform: rotate(180deg) translateY(-200px);
    transition: 2s;
    filter:blur(20px);
    opacity: 0;
    cursor: pointer;

}
.carousel-item img {
	margin:10px;
}
.block4-wrap {
	display:flex
}
.block4 {
	flex:1 0 25%;
	background:#000;
	color:#fff;
}
.my-captions{margin:10px;padding-bottom:3em}

/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
	.block4{max-width:280px;flex:1 0 100%;overflow:hidden}	
	.carousel{overflow:hidden;}
	.carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
	.block4{max-width:240px;}	
}

.b{
    background-color: #1f0d3c;
    color: white;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;

}
.a{
    background-color: #fec868;
    color: black;
    border-radius: 25px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
.a-100 {
    width:auto; 
}
.aaa{
    background-color: #fee0d5;
    border-radius: 25px;
    width: 50%;
    height: 150px;
    position:relative;
    margin-left: 275px;
    margin-top: -75px;
    overflow: visible;
}

@media screen and (max-width:480px){
	.aaa{margin-left:35px;width:80%;height: 100px;margin-top: -50px;}	
}
.btn-primary{
    margin-top: 50px;
    margin-left: 1px;
}

.btn{
    margin-left: 10px;
    float: left;
}
#result{
   position: absolute;
   top:25px;
   right: 83%;
}

