body {
  background:   white ;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
    width:75% ;
    margin: auto;
    overflow: hidden;
}
.navbar-inverse{
  margin-bottom: 0;
  background-color:  #1e1e30  ;
  border-color:  #161625 ;
  color:white;
  margin-left:13px;

}
.navbar-nav{
float: right;
color: white;
margin-left:60px;
}
.navbar-inverse .navbar-nav > li > a {
color: red;
}
img{
margin-top: 10px;
width: 280px;
height:200px;
}
.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
overflow-x: hidden;
transition: 0.5s;
}

.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}

.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block;
transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}

.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
font-size: 40px;
top: 15px;
right: 35px;
}
}
#more {display: none;}

@media screen and (max-width:800px) {
.navbar-inverse{

  padding-right:20px;;
  margin-right:20px;/* The width is 100%, when the viewport is 800px or smaller */
}
}

/* Add animation to "page content" */
.animate-bottom {
position: relative;
-webkit-animation-name: animatebottom;
-webkit-animation-duration: 1s;
animation-name: animatebottom;
animation-duration: 1s
}

@-webkit-keyframes animatebottom {
from { bottom:-100px; opacity:0 } 
to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
from{ bottom:-100px; opacity:0 } 
to{ bottom:0; opacity:1 }
}

#myDiv {
display: none;
text-align: center;
}

.container-fluid {
  width: 100%;
 
  margin-right: auto;
  margin-left: auto;
}
.section-b {
  padding: 20px 0 0 0;
  margin-bottom: 0;
}
.box-a {
  width: 25%;
  height:42% ;
  padding-right: 0px;
  margin-right: 5px;
  margin-top: 8px;
  float: left;
  text-align: center; 
  background-color: #fec868;
  background-image: linear-gradient(to left,white,#fec868);
}

.box-b {
  width: 24%;
  height:30% ;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  color: white;
  padding-right: 0px;
  text-align: center; 
  background-color:#1f0d3c;
  background-image: linear-gradient(to left,white,#1f0d3c);
}
.box-c {
  width: 24%;
  height:30% ;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  padding-right: 0px;
  text-align: center; 
  
  background-image: linear-gradient(to left,white,#fec868);
  
}
.box-d {
  width: 24%;
  height:30% ;
  float: left;
  margin-top: 8px;
  padding-right:0px;
  color: white;
  margin-right: 5px;
  text-align: center; 
  
  background-image: linear-gradient(to left,white,#1f0d3c);
  
}
.box-a:hover {
  width: 24%;
  height: 30%;
  margin-right: 5px;
  float: left;
  margin-top: 8px;
  text-align: center; 
  background-color: #fdb73e;
  
}

.box-b:hover {
  width: 24%;
  height:30% ;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
  text-align: center; 
  background-color: #fdb73e;
  
}
.box-c:hover {
  width: 24%;
  height:30% ;
  float: left;
  margin-top: 8px;
  margin-right: 4px;
  text-align: center; 
  background-color: #fdb73e;
  
}
.box-d:hover {
  width: 24%;
  height:30% ;
  float: left;
  margin-top: 8px;
  text-align: center;
  margin-right: 5px;
  background-color: #fdb73e;
  
}

@media screen and (max-width:800px) {
  .box-a,.box-b,.box-c,.box-d,.box-a:hover,.box-b:hover,.box-c:hover,.box-d:hover{
    width: 40%;
    height: 70%;
    margin-right: 8px;
    margin-left: 13px;
    padding: 0 4px;
    border-radius: 10px;
    margin-bottom: 4px;
    background-image: linear-gradient(to right,white,#fec868);
    /* The width is 100%, when the viewport is 800px or smaller */
  }
}